<div class="routePage" id="dashView" ng-controller="dashCtr">
    <div class="row">
        <div class="col s3">
            <fieldset>
                <h6 class="legend">Client</h6>
                <div class="input-field">
                    <i class="material-icons prefix">confirmation_number</i>
                    <input type="number" id="sales_inv" disabled ng-model="checkout.inv">
                    <label for="sales_inv" class="active">Inv</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">date_range</i>
                    <input type="text" disabled id="sales_date" value="{{toMyDate()}}">
                    <label for="sales_date" class="active">Date</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">person</i>
                    <input type="text" id="sales_name" ng-model="checkout.name">
                    <label for="sales_name" class="active">Nom du client</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">phone</i>
                    <input type="number" id="sales_phone" ng-model="checkout.phone">
                    <label for="sales_phone">Telephone(optionnel)</label>
                </div>
            </fieldset>
        </div>
        <div class="col s6">
            <fieldset>
                <h6 class="legend">Produits</h6>
                <div class="items">
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <input onkeyup="searchTable(event,'#itemsViewTable',4)" class="search-input browser-default" type="search" placeholder="Recherche...">
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <select ng-model="sortByBrand" id="sortByBrand" class="browser-default">
                                    <option value="All">Tout</option>
                                    <option ng-repeat="s in brand track by $index" value="{{s.id}}">{{s.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col s12">
                            <table class="responsive-table">
                                <thead>
                                <th>Famille</th>
                                <th>Serie</th>
                                <th>Qty</th>
                                <th>Prix</th>
                                </thead>
                            </table>
                            <div class="table-div" style="height:55vh;">
                                <div ng-show="items.length == 0" class="grey lighten-3 overlay">
                                    <div class="center">
                                        Rien a montre, stock est vide
                                    </div>
                                </div>
                                <table id="itemsViewTable" class="responsive-table highlight">
                                    <tbody>
                                    <tr ng-repeat="s in items" ng-dblclick="addToCart($event,$index)" ng-if="s.brand == sortByBrand || sortByBrand == 'All'" data-id="{{s.model}}">
                                        <td>{{toBrandName(s.brand)}}</td>
                                        <td>{{s.model}}</td>
                                        <td>{{s.qty}}</td>
                                        <td>{{s.price | currency:"":0}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col s3">
            <fieldset style="padding:0px;">
                <h6 class="legend" style="margin:0;text-align:center;">Panier</h6>
                <div ng-show="checkout.items.length == 0" class="overlay white"style="top:3%;">
                    <div class="center" style="width:80%;">
                        <img src="images/icons/shoppng_cart.png" alt="cart">
                        <h5 class="blue-grey-text">Paneir vide</h5>
                        <span>Double-cliquez sur les articles pour ajoute au paneir.</span>
                    </div>
                </div>
                <div class="checkout">
                    <div class="item z-depth-2" ng-repeat="s in checkout.items track by $index">
                        <h6 class="teal-text">{{s.model}} <small class="right"><i ng-click="removeFromCart($index)" class="grey-text material-icons close">close</i></small></h6>
                        <p>{{toBrandName(s.brand)}}</p>
                        <input type="number" min="1" ng-model="s.order_qty" ng-keyup="minQty($event,$index)" class="browser-default">
                        <input type="number" min="{{s.price}}" placeholder="prix" ng-model="s.order_price" class="browser-default" aria-busy="true" ng-keyup="minPrice($event,$index)">
                    </div>
                </div>
                <div class="checkout-btns">
                    <div style="position:relative;">
                        <span style="margin-right:16%;"><strong>Total: </strong><strong>Articles: {{checkout.items.length}}</strong></span>
                        <button ng-click="removeFromCart('all')" class="btn-flat red-text red-border">Vider le panier</button>
                    </div>
                    <div style="padding:5px;">
                        <button ng-click="proceedCheckout()" ng-disabled="checkout.items.length == 0" class="btn-block btn green waves-effect waves-light"><i class="material-icons left">shopping_cart</i>Proceder</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <!-- MODALS -->
    <div id="checkOutModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <div class="header teal">
                <h5 class="white-text">Confimer l'achat</h5>
            </div>
            <div class="body">
                <div class="checkout-details row inner">
                    <div class="col s4">
                        <div class="input-field">
                            <input id="cmodal1" type="text" disabled ng-model="checkout.name">
                            <label for="cmodal1" class="active">Doit</label>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <input id="cmodal2" type="text" disabled ng-model="checkout.inv">
                            <label for="cmodal2" class="active">No de Facture</label>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <input id="cmodal3" type="text" disabled value="{{toMyDate()}}">
                            <label for="cmodal3" class="active">Date</label>
                        </div>
                    </div>
                </div>
                <div class="checkout-items row inner">
                    <div class="col s12">
                        <table>
                            <thead>
                            <th>Qty</th>
                            <th>Designation</th>
                            <th>P.U</th>
                            <th>P.Total</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in checkout.items track by $index">
                                <td>{{x.order_qty}}</td>
                                <td>{{toBrandName(x.brand)}} {{x.model}}</td>
                                <td>{{x.order_price | currency:"":0}}</td>
                                <td>{{x.totalOrderPrice | currency:"":0}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <span class="left"><strong>TOTAL Qty:</strong><span class="blue-grey-text">{{checkout.totalQty | currency:"":0}}</span>    <strong>Prix: </strong><span class="green-text">{{checkout.totalPrice | currency:"FCFA ":0}}</span></span>
            <a href="javascript:void(0)" class="modal-close waves-effect waves-default btn-flat grey white-text">Fermer</a>
            <a ng-click="completeOrder($event)" href="javascript:void(0)" class="waves-effect waves-default btn-flat teal white-text">Confirmer</a>
        </div>
    </div>
</div><!--End of controller -->

