<div class="routePage" style="padding-bottom:40px;" ng-controller="reportsCtr">
    <div class="row inner">
        <div class="col s12" style="padding:20px;">
            <div class="row">
                <div class="col s6">
                    <button ng-click="saveLog()" class="btn orange darken-4 waves-effect waves-default">
                        <i class="material-icons left">input</i>
                        Exporter
                    </button>
                    <button ng-click="openLog()" class="btn cyan darken-4 waves-effect waves-default">
                        <i class="material-icons left">open_in_browser</i>
                        Importer
                    </button>
                </div>
                <div class="col s6 right-align">
                    <button ng-click="createReport()" class="btn waves-effect waves-default teal darken-2"><i class="material-icons left">create</i>Creer raport</button>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="row inner" style="padding:10px 25px;margin-bottom:10px;">
        <h6 class="yellow-text text-darken-2">Choisir Interval</h6>
        <hr>
        <div class="col s4">
            <label for="from_date" class="active">Du</label>
            <input type="text" id="from_date" class="datepicker">
        </div>
        <div class="col s4">
            <label for="to_date" class="active">A</label>
            <input type="text" id="to_date" class="datepicker">
        </div>
        <div class="col s12">
            <hr>
        </div>
    </div>
    <div class="row inner">
        <div class="col s6">
            <fieldset style="padding:0;">
                <h6 class="legend">Graph1</h6>
                <div class="line-chart">
                    <canvas id="salesChart" height="200" width="400"></canvas>
                </div>
            </fieldset>
        </div>
        <div class="col s6">
            <fieldset>
                <h6 class="legend">Graph2</h6>
                <div class="bar-chart">
                    <canvas id="barChart" height="200" width="400"></canvas>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row inner">
        <div class="col s8 no-right-pad">
            <fieldset>
                <h6 class="legend">Graph 3</h6>
                <div style="margin:20px">
                    <input type="search" placeholder="Recherche.." onkeyup="searchTable(event,'#salesTable',6)" class="browser-default search-input">
                </div>
                <div class="table-div">
                    <table id="salesTable">
                        <thead>
                            <th>FAC</th>
                            <th>Client</th>
                            <th>Articles</th>
                            <th>Prix</th>
                            <th>Date</th>
                            <th>Utilisateur</th>
                            <th class="small"><i class="material-icons">delete_forever</i></th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in sales track by $index">
                            <td>{{s.inv}}</td>
                            <td>{{s.name}}</td>
                            <td>
                                <ul style="list-style-type:circle;" class="browser-default">
                                    <li ng-repeat="i in s.items">{{toBrandName(i.brand)}} {{i.model}} <span class="badge teal-text">{{i.order_qty}}</span></li>
                                </ul>
                            </td>
                            <td>{{s.totalPrice | currency:"":0}}</td>
                            <td>{{toMyDate(s.date)}}</td>
                            <td>{{s.staff}}</td>
                            <td class="small"><i class="material-icons action">delete</i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div class="col s4">
            <fieldset>
                <h6 class="legend">Graph 4</h6>
                <div class="pie-chart">
                    <canvas id="pieChart" height="200" width="400"></canvas>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row inner">
        <div class="col s9">
            <fieldset>
                <h6 class="legend">Quantity</h6>
                <div class="table-div">
                    <table id="itemsLogs">
                        <thead>
                            <th>Famille</th>
                            <th>Serie</th>
                            <th>Prix</th>
                            <th>Qty vendu</th>
                            <th>Qty reste</th>
                            <th>Qty init</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in items track by $index">
                                <td>{{toBrandName(x.brand)}}</td>
                                <td>{{x.model}}</td>
                                <td>{{x.totalOrderPrice}}</td>
                                <td>{{x.orderedQty}}</td>
                                <td>{{x.qty}}</td>
                                <td>{{x.qty+x.orderedQty}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
        <div class="col s3">
            <fieldset>
                <h6 class="legend">Logs</h6>
                <ul class="collection">
                    <li class="collection-item avatar">
                        <i class="material-icons circle">folder</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle green">insert_chart</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                        <i class="material-icons circle red">play_arrow</i>
                        <span class="title">Title</span>
                        <p>First Line <br>
                            Second Line
                        </p>
                        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                </ul>
            </fieldset>
        </div>
    </div>
    </div>
</div>