<div id="reportsDashboardView" class="routePage" ng-controller="reportsDashCtr">
    <div class="row inner">
        <div class="col s12 light-blue lighten-5">
            <h1>Details..</h1>
            <div class="right">
                    <button class="btn-floating waves-effect brown"><i class="material-icons">create</i></button>
                    <button class="btn-floating waves-effect teal"><i class="material-icons">file_download</i></button>
                    <button class="btn-floating waves-effect red"><i class="material-icons">file_upload</i></button>
                </div>
        </div>
    </div>
    <div class="row inner" style="padding:10px 0;">
        <div class="col s6">
            <div class="hcard">
                <div class="header">
                    <h6>Détails des articles <i class="material-icons">more_vert</i></h6>
                </div>
                <div class="body font-fira">
                    <div class="row">
                        <div class="article_det col s12 m6 b-right">
                            <h6 class="red-text"><i class="material-icons left">error_outline</i>Stock faible<span class="badge red-text">3</span></h6>
                            <h6 class="green-text"><i class="material-icons left">featured_play_list</i>Stock<span class="green-text badge">43</span></h6>
                            <h6 class="amber-text"><i class="material-icons left">subtitles</i>Stock inactif <span class="amber-text badge">4</span></h6>
                            <h6 class="grey-text"><i class="material-icons left">stop_screen_share</i>Stocks brisés<span class="grey-text badge">1</span>  </h6>
                        </div>
                        <div class="col s12 m6">
                                <div
                                class="ldBar label-center"
                                data-stroke="data:ldbar/res,gradient(0,1,#9df,#9fd,#df9,#fd9)",
                                style="width:50%;height:50%;margin:auto"
                                data-value="85"
                                data-preset="circle"
                              ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div id="bestSales" class="hcard">
                <div class="header teal white-text">
                        Meilleures ventes
                </div>
                <div class="body">
                    <div class="list">
                        <div class="item purple-border">
                            <div class="label purple-border purple-text grey lighten-4">
                                <span class="icon circle purple white-text">S</span>
                                <span class="brand-name">Samsung</span>
                            </div>
                            <div class="body">
                                <h5 class="item-name grey-text">Galaxy S9</h5>
                                <h4 class="unit purple-text">20</h4>
                                <small>Vendu</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row inner" style="padding:10px 0;">
        <div class="col s5">
            <div class="hcard">
                <div class="header cyan white-text">
                    <h6>Achats <i class="material-icons">more_vert</i></h6>
                </div>
                <div class="body">
                    <div class="row center-align">
                        <div class="col s12" style="border-bottom:1px solid #ddd;">
                            <h6 class="grey-text">Quantite vendu</h6>
                            <h4 class="cyan-text">250</h4>
                        </div>
                        <div class="col s12">
                                <h6 class="grey-text">Total</h6>
                                <h4 class="cyan-text">{{480000 | currency:"FCFA ":0}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s7">
            <div class="hcard">
                <div class="header red white-text">
                    <h6>Ventes</h6>
                </div>
                <div class="body">
                        <div class="table-div">
                                <table id="salesTable">
                                    <thead>
                                        <th>FAC</th>
                                        <th>Client</th>
                                        <th>Articles</th>
                                        <th>Prix</th>
                                        <th>Date</th>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="s in sales track by $index">
                                        <td>{{s.inv}}</td>
                                        <td>{{s.name}}</td>
                                        <td>
                                            <ul style="list-style-type:circle;" class="browser-default">
                                                <li ng-repeat="i in s.items">{{toBrandName(i.brand)}} {{i.model}} <span class="badge teal-text">{{i.order_qty}}</span></li>
                                            </ul>
                                        </td>
                                        <td>{{s.totalPrice | currency:"":0}}</td>
                                        <td>{{toMyDate(s.date)}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>