<div id="reports" class="routePage" style="padding-bottom:0px;" ng-controller="reportsCtr">
    <div style="position:fixed;left:250px;" ng-show="newSales.length === 0" class="overlay white">
        <div class="center center-align">
            <img src="images/icons/no-sales.png" alt="">
            <h4>Rien à afficher ici</h4>
            <h6>les métadonnées des ventes et des ventes s'afficheraient ici</h6>
        </div>
    </div>
    <!--<div id="reportsDrop" class="drop overlay">
        <div class="center">
            <h4 class="text">
                <i class="material-icons large">pin_drop</i>
                Déposer ici
            </h4>
        </div>
    </div> -->   
    <div id="date-range" class="row inner">
        <h5 class="title">Choisir Interval
            <i class="material-icons prefix">date_range</i>
            <small style="font-size: 0.65em;"><i>Cliquez sur les cases ci-dessous pour choisir une plage de dates valide</i></small>
        </h5>
        <div class="col s4">
            <div class="input-field">
                <label for="from_date" class="active">Du</label>
                <input type="text" id="from_date" class="from_date browser-default datepicker">
            </div>
        </div>
        <div class="col s4">
           <div class="input-field">
            <label for="to_date" class="active">A</label>
            <input type="text" id="to_date" class="to_date browser-default datepicker">
           </div>
        </div>
        <div class="col s4">
            <button ng-click="triggerRender()" style="margin-top: 3%;display:block;" class="btn-floating waves-effect teal"><i class="material-icons">refresh</i></button>
        </div>
        </div>
          <ul id="sectionTab" class="tabs">
            <li class="tab col s3"><a ng-class="(defaultTab == 'tab1')?'active':''" href="#home">Accueil</a></li>
            <li class="tab col s3"><a ng-class="(defaultTab == 'tab2')?'active':''" href="#sales">Ventes</a></li>
            <li class="tab col s3"><a ng-class="(defaultTab == 'tab3')?'active':''" href="#stocks">Variation de stock</a></li>
            <li class="tab col s3"><a ng-class="(defaultTab == 'tab4')?'active':''" href="#itemRecordsDiv">Entrées de produits</a></li>
          </ul>
        <div id="home" class="col s12 tab-view">
            <div class="row inner">
                <div class="col s12">
                    <h4 class="indigo-text">Accueil</h4>
                    <h6>montrant les comportements de stock et de vente</h6>
                </div>
                <div class="body">
                    <div class="row inner">
                        <div class="col s12">
                            <div class="col s12">
                                <h5 class="teal-text">Ventes x Qte</h5>
                                <hr>
                            </div>
                            <fieldset style="padding:5px;">
                                <h6 class="legend teal-text" style="max-height:40px;width:100%;">Graph des ventes</h6>
                                <div class="line-chart">
                                    <canvas id="salesChart" height="150" width="400"></canvas>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row inner">
                        <!--<div class="col s12">
                            <h5 class="green-text">Articles</h5>
                            <hr>
                        </div>
                        <div class="col s6">
                            <fieldset>
                                <h6 class="legend">Bar chart</h6>
                                <div class="bar-chart">
                                    <canvas id="barChart" height="200" width="400"></canvas>
                                </div>
                            </fieldset>                            
                        </div>
                        <div class="col s6">
                            <fieldset>
                                <h6 class="legend">Pie chart</h6>
                                <div class="pie-chart">
                                    <canvas id="pieChart" height="200" width="400"></canvas>
                                </div>
                            </fieldset>
                        </div>-->
                        <div class="col s12">
                            <div class="col s12">
                                <h5 class="green-text">Ventes x Montant</h5>
                                <hr>
                            </div>
                            <fieldset style="padding:5px;">
                                <h6 class="legend teal-text" style="max-height:40px;width:100%;">Graph des ventes x Montant</h6>
                                <div class="line-chart">
                                    <canvas id="salesMoneyChart" height="150" width="400"></canvas>
                                </div>
                            </fieldset>
                        </div>
                        <!-- Sales Table-->
                        <div class="col s12">
                            <div class="col s12" style="padding-bottom:0px;">
                                <h5 class="blue-text">Ventes</h5>
                                <hr>
                            </div>
                            <div class="col s12" style="padding:0;">
                                <div class="row">
                                    <div class="col s6"></div>
                                    <div class="col s6" style="padding:0;height:63px;">
                                        <div class="input-field" style="padding:0;">
                                            <input onkeyup="searchTable(event,'#allSalesTable',7)" type="search" placeholder="Recherche..." class="browser-default">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-div" style="height:75vh;">
                                <table id="allSalesTable">
                                    <thead>
                                        <tr class="blue white-text">
                                            <th>FAC</th>
                                            <th>Name</th>
                                            <th>Tel</th>
                                            <th>Articles</th>
                                            <th>Qte T</th>
                                            <th>M.V</th>
                                            <th>Vendeur</th>
                                            <th>Date</th>
                                            <th><i class="material-icons">delete_forever</i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="s in newSales track by $index">
                                            <td>{{s.inv}}</td>
                                            <td>{{s.name}}</td>
                                            <td>{{s.phone}}</td>
                                            <td>
                                                <ul>
                                                    <li ng-repeat="i in s.items track by $index">
                                                        {{toBrandName(i.brand)}} {{i.model}}
                                                        <span class="badge teal-text">{{i.order_qty}}</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>{{s.totalQty | currency:"":0}}</td>
                                            <td>{{s.totalPrice | currency:"":0}}</td>
                                            <td>{{s.staff}}</td>
                                            <td>{{toFrenchDateString(s.date)}}</td>
                                            <td><i ng-click="deleteOrders(s.id)" class="material-icons action">delete</i></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- table hiddena and used for printing! -->
                                <table style="display:none;" id="salesTable">
                                    <thead>
                                        <tr class="blue white-text">
                                            <th>FAC</th>
                                            <th>Name</th>
                                            <th>Tel</th>
                                            <th>Articles</th>
                                            <th>Qte T</th>
                                            <th>M.V</th>
                                            <th>Vendeur</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="s in newSales track by $index">
                                            <td>{{s.inv}}</td>
                                            <td>{{s.name}}</td>
                                            <td>{{s.phone}}</td>
                                            <td>
                                                <ul>
                                                    <li ng-repeat="i in s.items track by $index">
                                                        {{toBrandName(i.brand)}} {{i.model}}
                                                        <span class="badge teal-text">{{i.order_qty}}</span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>{{s.totalQty}}</td>
                                            <td>{{s.totalPrice | currency:"":0}}</td>
                                            <td>{{s.staff}}</td>
                                            <td>{{toFrenchDateString(s.date)}}</td>
                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sales" class="col s12 tab-view">
            <div class="row">
                <div class="col s12">
                    <h4 class="blue-text">Tout les ventes</h4>
                    <h6>Toutes les ventes effectuées dans la plage de dates choisie</h6>
                    <div class="col s3" style="margin:10px 0;">
                        <select class="browser-default" ng-model="selectDateVal">
                            <option ng-repeat="x in uniqueSalesDate track by $index" value="{{x}}">{{toFrenchDateString(x)}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="col s3 no-right-pad">
                        <div class="table-div" style="height:75vh;width:100%;">
                            <ul class="collection" style="margin:0;">
                                <li ng-click="previewSales($event,$index)" ng-repeat="s in salesObject[myDateString(toNumber(selectDateVal),true)] track by $index" class="collection-item avatar">
                                  <i class="material-icons circle green">shopping_cart</i>
                                  <span class="title green-text">{{s.name}}</span>
                                    <p>{{s.inv}} <br>
                                        {{toFrenchDateString(s.date)}}
                                    </p>
                                  <a href="javascript:void(0)" class="secondary-content"><i class="material-icons">keyboard_arrow_right</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s9 no-left-pad" style="position:relative;">
                        <div class="table-div reciet-table-div" style="height:75vh;width:100%;">
                                <div class="overlay" ng-hide="showPrevActive">
                                        <div class="center">
                                            <img src="images/icons/rules.png" alt="">
                                            <h5>Rien a montrer</h5>
                                        </div>
                                    </div>
                            <h5 class="teal-text center-align">
                                <img style="height:25px;width:25px;" src="images/logo.png" alt="">
                                Emeliee Telecom
                                <button class="btn-flat right green-border green-text">
                                    <i class="material-icons left">person</i>
                                    Venduer: {{sale.staff}}
                                </button>
                            </h5>
                            <div class="reciet">
                                <div class="sale-details row inner">
                                    <div class="col s4">
                                        <div class="input-field">
                                            <input id="cmodal1" type="text" disabled ng-model="sale.name">
                                            <label for="cmodal1" class="active">Doit</label>
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        <div class="input-field">
                                            <input id="cmodal2" type="text" disabled ng-model="sale.inv">
                                            <label for="cmodal2" class="active">No de Facture</label>
                                        </div>
                                    </div>
                                    <div class="col s4">
                                        <div class="input-field">
                                            <input id="cmodal3" type="text" disabled value="{{toFrenchDateString(sale.date,true)}}">
                                            <label for="cmodal3" class="active">Date</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="sale-items row inner">
                                    <div class="table-div">
                                        <table>
                                            <thead>
                                                <th>Qty</th>
                                                <th>Designation</th>
                                                <th>P.U</th>
                                                <th>P.Total</th>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="x in sale.items track by $index">
                                                <td>{{x.order_qty}}</td>
                                                <td>{{toBrandName(x.brand)}} {{x.model}}</td>
                                                <td>{{x.order_price | currency:"":0}}</td>
                                                <td>{{x.totalOrderPrice | currency:"":0}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="totals">
                                    <button class="btn-flat blue-border blue-text">Qte Total: {{sale.totalQty | currency:"":0}}</button>
                                    <button class="btn-flat green-border green-text">Prix Total: {{sale.totalPrice | currency:"FCFA ":0}}</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="stocks" class="col s12 tab-view">
            <div class="row">
                <div class="col s12">
                    <h4 class="teal-text">Variation de stock</h4>
                    <h6>Affichage du comportement du stock dans la plage de dates choisie</h6>
                    <div class="stockBtns col s12">
                        <a href="#!stock-reports/in_stock/reports-tab3" class="btn-flat green-border green-text">
                            <i class="material-icons left">kitchen</i>
                            <strong>En stock</strong>
                            <span class="right">{{filterItems.active.length | currency:"":0}}</span>
                        </a>
                        <a href="#!stock-reports/low_stock/reports-tab3" class="btn-flat amber-border amber-text">
                            <i class="material-icons left">warning</i>
                            <strong>Faible stock</strong>
                            <span class="right">{{filterItems.lowStock.length | currency:"":0}}</span>
                        </a>
                        <a href="#!stock-reports/out_of_stock/reports-tab3" class="btn-flat red-border red-text">
                            <i class="material-icons left">error</i>
                            <strong>Stock epuise</strong>
                            <span class="right">{{filterItems.inactive.length | currency:"":0}}</span>
                        </a>
                        <a href="#!stock-reports/broken_stocks/reports-tab3" class="btn-flat brown-border brown-text">
                            <i class="material-icons left">grid_off</i>
                            <strong>Stocks Ecrasse</strong>
                            <span class="right">{{filterItems.broken.length | currency:"":0}}</span>
                        </a>
                    </div>
                </div>
                <div class="col s12" style="padding:10px;">
                    <span class="teal-text">Les Totals <i style="transform: translateY(30%);" class="material-icons">keyboard_arrow_right</i></span>
                    <button class="btn-flat teal-text teal-border">Qte vendu: {{qty_sold | currency:"":0}}</button>
                    <button class="btn-flat teal-text teal-border">Montant Vendu: {{amount_sold | currency:"FCFA ":0}}</button>
                </div>
                <div class="col s12" style="padding:0 15px;">
                    <div class="table-div" style="height:70vh;">
                        <table id="itemsLogs">
                            <thead>
                                <th>Famille</th>
                                <th>Serie</th>
                                <th>Qte vendue</th>
                                <th>P.U</th>
                                <th>M.V</th>
                                <th>Qte finale</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in salesItems track by $index">
                                    <td>{{toBrandName(x.brand)}}</td>
                                    <td>{{x.model}}</td>
                                    <td>{{x.count_qty}}</td>
                                    <td>{{x.price | currency:"":0}}</td>
                                    <td>{{x.totalAmount | currency:"":0}}</td>
                                    <td ng-if="finalStock(x.id) > 0">{{finalStock(x.id)}}</td>
                                    <td class="red-text" ng-if="finalStock(x.id) == 0">{{finalStock(x.id)}}</td>
                                    <td ng-if="finalStock(x.id) == 'fin'"><small class="red-text">Cet article n'existe plus</small></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Record changes made to item tables  -->
        <div id="itemRecordsDiv" class="col s12 tab-view">
            <div class="row">
                <div class="col s12">
                    <h4 class="teal-text">Entrées de produits</h4>
                    <h6>Affiche toutes les entrées de produits dans l'intervalle</h6>
                </div>
                <div class="col s12">
                    <table id="itemRecords">
                        <thead>
                            <th>Qte</th>
                            <th>Date</th>
                            <th>Personnel</th>
                        </thead>
                        <tbody ng-repeat="s in stocksEntries track by $index">
                            <tr>
                                <th colspan="3">{{toBrandName(s.brand)}} {{s.model}}</th>
                            </tr>
                            <tr ng-repeat="d in s.details track by $index">
                                <td>{{d.qty}}</td>
                                <td>{{toFrenchDateString(d.date,true)}}</td>
                                <td>{{d.staff}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- FAB---->
        <div class="fixed-action-btn">
                <a class="btn-floating btn-large teal darken-4">
                  <i class="large material-icons">menu</i>
                </a>
                <ul>
                  <li><a ng-click="createReport()" title="Creer raport" class="btn-floating red"><i class="material-icons">create</i></a></li>
                  <li><a ng-click="saveLog()" title="Exporter des données" class="btn-floating blue"><i class="material-icons">publish</i></a></li>
                  <li><a ng-click="openLog()" title="Importer des données" class="btn-floating teal"><i class="material-icons">file_download</i></a></li>
                  <li><a ng-click="openLog()" title="Synchroniser" class="btn-floating amber"><i class="material-icons">sync</i></a></li>
                  <li><a ng-click="saveExcel()" style="line-height:55px;text-align:center;" class="btn-floating green darken-4"><img src="images/icons/excel.png"></a></li>
                </ul>
        </div>
        <!-- MODALS -->
        <div id="exportModal" class="modal blue-border">
            <div class="modal-content">
              <div class="header">
                <p style="margin-top:-0.65rem;" class="blue-text">Assistant STK</p>
                <h4>Exporter des données</h4>
                <p>Choisissez une plage de dates</p>
              </div>
              <div class="body">
                  <div class="row">
                      <div class="col s12">
                          <h4 class="blue-text">
                                <i class="material-icons green-text">verified_user</i>
                                {{currentUser.name}}
                          </h4>
                          <hr>
                      </div>
                    <div class="col s5">
                        <select class="browser-default" ng-model="export_start_select">
                            <option ng-repeat="d in export_filter" value="{{d}}">{{toFrenchDateString(d)}}</option>
                        </select>
                    </div>
                    <div class="col s5">
                        <select class="browser-default" ng-model="export_end_select">
                            <option ng-repeat="d in export_filter" value="{{d}}">{{toFrenchDateString(d)}}</option>
                        </select>
                    </div>
                    <div class="col s12" style="margin-top: 8%;">
                        <label>
                            <input type="checkbox" class="filled-in" ng-model="showPasswordInput" checked="checked" />
                            <span>Verrouiller avec mot de passe</span>
                        </label>
                        <div ng-show="showPasswordInput" class="input-field">
                            <input ng-model="export_password" type="password" placeholder="Mot de pass" style="width:50%;margin-left: 8%;" name="" id="">
                        </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer blue blue-border white-text">
              <a href="javascript:void(0)" class="red-text modal-close waves-effect waves-red white btn-flat">Annuler</a>
              <a id="export_data_btn" href="javascript:void(0)" class="waves-effect waves-blue btn-flat blue-text white">Exporter</a>
            </div>
        </div>
        <!--ImportModal-->
        <div id="importModal" style="width:55vw;" class="modal teal-border">
            <div class="modal-content">
                <div class="header">
                    <p style="margin-top:-0.65rem;" class="teal-text">Assistant STK</p>
                    <h4>Importer des données</h4>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col s2">
                            <img style="width:100%;height:auto;" src="images/stk-filetype-icon.png">
                        </div>
                        <div class="col s10 b-left">
                            <h5 class="grey-text"><strong class="teal-text">Date d'exportation:</strong> {{previewImport.exportDate}}</h5>
                            <hr>
                            <h6>
                                <button class="btn-flat teal-border teal-text">
                                    <i class="material-icons left">date_range</i>
                                    {{previewImport.minDate}}
                                </button>
                                <button style="padding:0;" class="btn-flat teal-text"><i style="margin:0;" class="material-icons">arrow_forward</i></button>
                                <button class="btn-flat teal-border teal-text">
                                    <i class="material-icons left">date_range</i>
                                    {{previewImport.maxDate}}
                                </button>
                            </h6>
                            <hr>
                            <div class="content">
                                <h6><strong class="teal-text">Du</strong> {{previewImport.minDate}}</h6>
                                <h6><strong class="teal-text">A</strong> {{previewImport.maxDate}}</h6>
                                <h6><strong class="teal-text">Exporter par</strong> <span class="teal white-text name">{{previewImport.user}}</span></h6>
                                <h6><strong class="teal-text">Le</strong> {{previewImport.exportDate}}</h6>
                                <h6 ng-show="previewImport.isPassword">
                                    <small class="teal-text">Ce fichier est verrouillé avec un mot de passe, veuillez saisir le mot de passe pour continuer.</small>
                                    <div class="input-field">
                                        <input autofocus ng-model="importModalPassword" class="browser-default" type="password" placeholder="Mot de passe" />
                                    </div>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer teal">
                <a href="javascript:void(0)" class="modal-close waves-effect waves-red btn-flat white red-text">Annuler</a>
                <a id="import_data_btn" href="javascript:void(0)" class="waves-effect waves-teal btn-flat teal-text white">Importer</a>
            </div>
        </div>
        <!-- Report Modal -->
        <div id="createReportModal" class="modal red-border" 
            ng-init="selectedReportTable = 'itemsLogs'">
            <div class="modal-content">
                <div class="header">
                    <h4 class="red-text center-align">
                        Rapport
                    </h4>
                </div>
                <div class="body">
                    <div class="input-field">
                        <input type="text" placeholder="Titre" ng-model="reportTitle" class="browser-default">
                        <label for="" class="active">Titre</label>
                    </div>
                    <div class="input-field">
                        <textarea placeholder="Remarque..." rows="3" ng-model="reportDetails"></textarea>
                    </div>
                    <div class="input-field">
                        <label for="" class="active">Choisir Table</label>
                        <select ng-model="selectedReportTable" style="margin-top:5px;" class="browser-default">
                            <option value="itemsLogs">Variation de stock</option>
                            <option value="salesTable">Ventes effectuer</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer red white-text">
                <a href="javascript:void(0)" class="modal-close waves-effect waves-grey btn-flat white grey-text">Annuler</a>
                <a id="create_report_btn" href="javascript:void(0)" class="waves-effect waves-red btn-flat red-text white">Completer</a>
            </div>
        </div>
        <!-- Export to excel or pdf-->
        <div id="tableExport" class="modal modal-fixed-footer" style="height:440px;">
            <div class="modal-content" ng-init="selectedTableExport = 'itemsLogs';selectedTypeExport='excel'">
                <h5>Exporter Tableaux</h5>
                <div class="input-field" style="margin-top:2.6rem;">
                    <label for="" class="active">Choisir Table</label>
                    <select ng-model="selectedTableExport" style="margin-top:5px;" class="browser-default">
                        <option value="itemsLogs">Variation de stock</option>
                        <option value="salesTable">Ventes effectuer</option>
                        <option value="itemRecords">Entrées de produits</option>
                    </select>
                </div>
                <div class="input-field" style="margin-top:2.6rem;">
                    <select ng-model="selectedTypeExport" class="browser-default">
                        <option value="excel">Excel</option>
                        <option value="pdf">Pdf</option>
                    </select>
                    <label for="" class="active">Choisir type</label>
                </div>
                <!-- Excel sheet name -->
                <div ng-show="selectedTypeExport == 'excel'" class="input-field fade" style="margin-top:2.6rem;">
                        <label for="" class="fixed">Nom de la feuille</label>
                        <input class="browser-default" type="text" name="" id="" ng-model="sheetName">
                    </div>
            </div>
            <div class="modal-footer green darken-4">
                <a href="javascript:void(0)" class="white-text modal-close waves-effect waves-grey btn-flat">Annuler</a>
                <a id="tableExportBtn" href="javascript:void(0)" class="white-text waves-effect waves-green btn-flat">Exporter</a>
            </div>
        </div>
</div>