<div id="reportsDashboardView" class="routePage" ng-controller="reportsDashCtr">
    <div class="row inner">
        <div class="col s12 teal lighten-5">
            <div class="row">
                <div class="col s9">
                    <h4 class="blue-text">Panneau de bord</h4>
                </div>
                <div class="col s3" style="padding:20px 0 0 0;">
                    <div class="right-align">
                        <button class="btn-floating waves-effect brown"><i class="material-icons">create</i></button>
                        <button class="btn-floating waves-effect teal"><i class="material-icons">file_download</i></button>
                        <button class="btn-floating waves-effect red"><i class="material-icons">file_upload</i></button>
                    </div>
                </div>
                <div class="col s12">
                    <div class="item-container">
                        <a href="#!stock-reports/low_stock" class="item red-border center-align">
                            <h6 class="brand-name red-text"><i class="material-icons medium">warning</i></h6>
                            <div class="body">
                                <h6 class="item-name grey-text">Faible stock</h6>
                                <h4 class="unit red-text">{{filterItems.lowStock.length}}</h4>
                            </div>
                        </a>
                        <a href="#!stock-reports/in_stock" class="item green-border center-align">
                            <h6 class="brand-name green-text"><i class="material-icons medium">work</i></h6>
                            <div class="body">
                                <h6 class="item-name grey-text">En Stock</h6>
                                <h4 class="unit green-text">{{filterItems.active.length}}</h4>
                            </div>
                        </a>
                        <a href="#!stock-reports/out_of_stock" class="item amber-border center-align">
                            <h6 class="brand-name amber-text"><i class="material-icons medium">error</i></h6>
                            <div class="body">
                                <h6 class="item-name grey-text">Stocks finis</h6>
                                <h4 class="unit amber-text">{{filterItems.inactive.length}}</h4>
                            </div>
                        </a>
                        <a href="#!stock-reports/broken_stocks" class="item grey-border center-align">
                            <h6 class="brand-name grey-text text-darken-3"><i class="material-icons medium">backspace</i></h6>
                            <div class="body">
                                <h6 class="item-name grey-text">stocks brisés</h6>
                                <h4 class="unit grey-text text-darken-3">{{filterItems.broken.length}}</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row inner" style="padding:10px 10px 0;">
        <div class="col s6 p-2">
            <div class="hcard">
                <div class="header blue-grey darken-3 white-text">
                    <h6>Détails des articles <i class="material-icons">more_vert</i></h6>
                </div>
                <div class="body font-amce">
                    <div class="row">
                        <div class="article_det col s12 m6 b-right">
                            <h6 class="red-text"><i class="material-icons left">error_outline</i>Faible stock<span class="badge red-text">{{filterItems.lowStock.length}}</span></h6>
                            <h6 class="green-text"><i class="material-icons left">featured_play_list</i>En stock<span class="green-text badge">{{filterItems.active.length}}</span></h6>
                            <h6 class="amber-text"><i class="material-icons left">subtitles</i>Stocks finis <span class="amber-text badge">{{filterItems.inactive.length}}</span></h6>
                            <h6 class="grey-text"><i class="material-icons left">stop_screen_share</i>Stocks brisés<span class="grey-text badge">{{filterItems.broken.length}}</span>  </h6>
                        </div>
                        <div class="col s12 m6">
                            <span>Pourcentage d'éléments actifs</span>
                            <div
                                class="ldBar label-center"
                                data-stroke="data:ldbar/res,gradient(0,1,#9df,#9fd,#df9,#fd9)",
                                style="width:50%;height:50%;margin:auto"
                                data-value="50"
                                data-preset="circle"
                            ></div>
                        </div>
                        <div class="col s12 b-top">
                            <h6>Total Articles: {{items.length | currency:"":0}}</h6>
                            <h6>Montant: {{10000000 | currency:"FCFA ":0}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s6 p-2">
            <div id="bestSales" class="hcard">
                <div class="header blue-grey darken-3 white-text">
                        Meilleures ventes
                </div>
                <div class="body">
                    <div class="list center-align">
                        <div class="item purple-border" ng-repeat="x in d">
                                <span class="brand-name purple-text">Samsung</span>
                            <div class="body">
                                <h5 class="item-name grey-text">Galaxy S9</h5>
                                <h4 class="unit purple-text">20</h4>
                                <small>Vendu</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row inner" style="padding:0 10px 10px;">
        <div class="col s5 p-2">
            <div class="hcard">
                <div class="header blue-grey darken-3 white-text">
                    <h6>Achats <i class="material-icons">more_vert</i></h6>
                </div>
                <div class="body">
                    <div class="row center-align">
                        <div class="col s12" style="border-bottom:1px solid #ddd;">
                            <h6 class="grey-text">Quantite vendu</h6>
                            <h4 class="cyan-text">250</h4>
                        </div>
                        <div class="col s12">
                                <h6 class="grey-text">Total</h6>
                                <h4 class="cyan-text">{{480000 | currency:"FCFA ":0}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s7 p-2 no-top-pad">
            <div class="hcard">
                <div class="header blue-grey darken-3 white-text">
                    <h6>Ventes</h6>
                </div>
                <div class="body">
                    <div class="table-div" style="height:31vh;">
                        <table id="salesTable">
                             <thead>
                                <th>FAC</th>
                                <th>Client</th>
                                <th>Articles</th>
                                <th>Prix</th>
                                <th>Date</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="s in sales track by $index">
                                <td>{{s.inv}}</td>
                                <td>{{s.name}}</td>
                                <td>
                                    <ul style="list-style-type:circle;" class="browser-default">
                                        <li ng-repeat="i in s.items">{{toBrandName(i.brand)}} {{i.model}} <span class="badge teal-text">{{i.order_qty}}</span></li>
                                    </ul>
                                </td>
                                <td>{{s.totalPrice | currency:"":0}}</td>
                                <td>{{toMyDate(s.date)}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>