<section class="routePage" id="usersView" ng-controller="usersCtr">
    <div class="row">
        <div class="tables col s9">
            <div class="row">
                <div class="col s12">
                    <fieldset>
                        <h6 class="legend">Utilisateurs</h6>
                        <button ng-click="showCreateUser()" class="right btn bg-theme waves-effect waves-light">Creer un utilisateur</button>
                        <table class="responsive-table">
                            <thead>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Date de debut</th>
                                <th>statut</th>
                                <th class="small"><i class="material-icons">delete_forever</i></th>
                            </thead>
                        </table>
                            <div class="table-div">
                                <div ng-show="localUser.length == 0" class="grey lighten-5 overlay">
                                    <div class="center">
                                        <h6 class="blue-grey-text">Pas d'utilisateur actif,veuillez creer des utilisateurs</h6>
                                    </div>
                                </div>
                                <table class="responsive-table highlight">
                                    <tbody>
                                    <tr ng-repeat="x in localUser track by $index" ng-dblclick="prevUser($index,'localUsers')">
                                        <td>{{$index+1}}</td>
                                        <td>{{x.name}}</td>
                                        <td>{{toMyDate(x.startDate)}}</td>
                                        <td>{{x.status}}</td>
                                        <td class="small"><i ng-click="deleteUser(x.id)" class="action material-icons">delete</i></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                    </fieldset>
                </div>
                <div class="col s12" style="margin-top:2rem;">
                    <fieldset>
                        <h6 class="legend">Administrateurs</h6>
                        <button class="right btn bg-theme-rev waves-effect waves-default"><i class="material-icons left">lock_outline</i>Creer un administrateur</button>
                        <table class="responsive-table">
                            <thead>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Date de debut</th>
                                <th>statut</th>
                            </thead>
                        </table>
                            <div class="table-div">
                                <div ng-show="managers.length == 0" class="grey lighten-3 overlay">
                                    <div class="center">
                                        Rien a montre, stock est vide
                                    </div>
                                </div>
                                <table class="responsive-table highlight">
                                    <tbody>
                                    <tr ng-repeat="x in managers track by $index" ng-dblclick="prevUser($index,'mgr')">
                                        <td>{{$index+1}}</td>
                                        <td>{{x.name}} <span ng-show="x.mgr" class="green-text text-darken-2"><i style="transform: translateY(20%);" class="material-icons">verified_user</i></span></td>
                                        <td>{{toMyDate(x.startDate)}}</td>
                                        <td>{{x.status}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="preview col s3 white">
            <div ng-hide="hideUserControl" class="overlay white">
                <div class="center" style="width:80%;">
                    <img src="images/icons/empty.png" alt="">
                    <h5 class="blue-grey-text">Rien à montrer ici</h5>
                    <span>Cliquez sur le bouton Créer un utilisateur ou double-cliquez sur les utilisateurs pour modifier.</span>
                </div>
            </div>
            <form action="#" name="form" id="createUserForm">
                <fieldset ng-show="createUserForm">
                    <!--Heading -->
                    <h6 class="color-theme-dark">Détails</h6>
                    <hr>
                    <h6 class="legend">Creer un utilisateur</h6>
                    <!--<div class="center-align">
                        <input style="display:none;" type="file" id="createUserPic" accept="image/*">
                        <span onclick="document.querySelector('#createUserPic').click()" class="img-span">
                            <span class="hover"><i class="material-icons">add</i></span>
                            <img ng-src="{{createUserImg}}" class="profile-pic">
                        </span><br>
                        <small>Cliquez sur l'image pour ajoute une photo</small>
                    </div>-->
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input id="new_name" ng-model="new_name" type="text" class="validate">
                        <label for="new_name">Nom d'utilisateur</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input id="new_password" ng-model="new_password" type="password" class="validate">
                        <label for="new_password">Mot de passe</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock_outline</i>
                        <input id="new_cpassword" ng-model="new_cpassword" type="password" class="validate">
                        <label for="new_cpassword">confirme le mot de passe</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input id="startDate" disabled type="text" value="{{toMyDate()}}" class="validate">
                        <label for="startDate" class="active">Date de debut</label>
                    </div>
                    <!--Heading -->
                    <h6 class="color-theme-dark">Autorisations</h6>
                    <hr>
                    <p>
                        <label>
                            <input type="checkbox" ng-model="user_create" class="filled-in" checked="checked"  />
                            <span>Introduire des donnes</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" ng-model="user_sales" class="filled-in"  />
                            <span>Effectuer des ventes</span>
                        </label>
                    </p>
                    <button type="submit" class="btn btn-block bg-theme waves-effect waves-default">Cree</button>
                </fieldset>
            </form>
            <form>
                <fieldset ng-show="updateUserForm">
                    <!--Heading -->
                    <h6 class="color-theme-dark">
                        <span ng-show="choosenUser.mgr" class="green-text text-darken-2"><i style="transform: translateY(20%);" class="material-icons">verified_user</i></span>
                        Détails
                    </h6>
                    <hr>
                    <h6 class="legend">Modifier Utilisateur</h6>
                    <div class="input-field">
                        <i class="material-icons prefix">person</i>
                        <input id="chose_name" ng-model="choosenUser.name" type="text" class="validate">
                        <label class="active" for="chose_name">Nom d'utilisateur</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input id="chose_password" ng-model="choosenUser.password" type="password" class="validate">
                        <label class="active" for="chose_password">Mot de passe</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input id="chosen_startDate" disabled type="text" value="{{toMyDate(choosenUser.startDate)}}" class="validate">
                        <label for="chosen_startDate" class="active">Date de debut</label>
                    </div>
                    <!--Heading -->
                    <h6 class="color-theme-dark">Autorisations</h6>
                    <hr>
                    <p>
                        <label>
                            <input type="checkbox" ng-disabled="choosenUser.mgr" ng-model="choosenUser.permissions.create" class="filled-in" checked="checked"  />
                            <span>Introduire des donnes</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" ng-disabled="choosenUser.mgr" ng-model="choosenUser.permissions.sales" class="filled-in"  />
                            <span>Effectuer des ventes</span>
                        </label>
                    </p>
                    <button ng-click="updateUser()" type="submit" class="btn btn-block bg-theme-rev waves-effect waves-default">Modifier</button>
                </fieldset>
            </form>
        </div>
    </div>
</section>