<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/materialize.css">
    <link rel="stylesheet" href="css/materialicons/icone91f.css">
    <link rel="stylesheet" href="css/loading-bar.css">
    <link rel="stylesheet" href="css/waitMe.min.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Stockler</title>
    <script src="js/angular.js"></script>
    <script src="js/angular_route.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/waitMe.min.js"></script>
</head>
<!--title bar -->
<!--<title-bar>
    <span>Stockler</span>
    <ul id="app_ctrs">
        <li id="app_minimize" onclick="titleBarBtns('minimize')"><i class="material-icons">remove</i></li>
        <li id="app_maximize" onclick="titleBarBtns('maximize')"><i class="material-icons">web_asset</i></li>
        <li id="app_quit" onclick="titleBarBtns('exit')"><i class="material-icons">clear</i></li>
    </ul>
</title-bar>-->
<body ng-app="StocklerApp" ng-controller="mainCtr" ng-cloak ng-csp ng-jq>

    <!--Splash screen -->
    <section id="splashScreen">
        <div class="center">
            <img src="images/logo.png" alt="" class="logo">
            <h3 class="yellow-text font-kaushan">Stockler</h3>
            <p id="splashLoader"></p>
        </div>
    </section>
    <!--Login screen -->
    <section id="login">
        <div class="cover">
            <div class="box center">
            <form action="#" id="login-form">
                <div class="row">
                    <div class="brand col s7">
                        <img src="images/logo.png" alt="">
                        <h4 class="brand-name font-kaushan">
                            Stockler
                        </h4>
                    </div>
                    <div class="form-div col s5">
                        <div class="input-field">
                            <input type="text" ng-model="login_name" id="username">
                            <label for="username">Nom d'utilisateur</label>
                        </div>
                        <div class="input-field">
                            <input type="password" ng-model="login_password" id="password">
                            <label for="password">Mot de passe</label>
                        </div>
                        <button class="btn" type="submit"><i class="material-icons left">person</i>s'identifier</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </section>
    <!--Manager screen -->
    <section id="manager" class="center-align">
        <img src="images/logo.png" style="width:50px;height:50px">
        <h4 class="center-align amber-text font-fira">Créer un compte de gestion <span class="green-text text-darken-2"><i class="material-icons">verified_user</i></span></h4>
        <div class="box center">
            <form action="" id="manager-form">
                <div class="row">
                    <div class="img col s6">
                        <img src="images/manager.png" alt="">
                    </div>
                    <div class="form-div col s6">
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input ng-model="mgr_name" id="name" type="text" class="validate">
                            <label for="name">Nom</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            <input ng-model="mgr_email" id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">lock</i>
                            <input ng-model="mgr_password" id="mgr_password" type="password" class="validate">
                            <label for="mgr_password">Mot de passe</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">lock_outline</i>
                            <input ng-model="mgr_cpassword" id="mgr_cpassword" type="password" class="validate">
                            <label for="mgr_cpassword">Confirmez le mot de passe</label>
                        </div>
                        <button class="btn" type="submit">Continuer <i class="material-icons right">arrow_forward</i></button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!--navbar  -->
    <nav id="main-navbar">
        <div class="head">
                <input type="search" placeholder="Recherche.." class="browser-default">
            <div class="actions">
                <a class="dropdownBtn" href="javascript:void(0)">
                    <i id="notificationsIcon" class="material-icons dropdownTrigger">notifications</i>
                    <i class="num-badge">0</i>
                    <div id="navNotify" class="drop-content">
                        <div ng-show="notificatonMsg.length == 0" class="center">
                            <span>Aucun notification</span>
                        </div>
                    </div>
                </a>
                <a href="javascript:void(0)"><i class="material-icons">settings</i></a>
                <a href="javascript:void(0)"><i class="material-icons">more_vert</i></a>
            </div>
        </div>
    </nav>
    <!--side nav -->
    <nav id="sideNav">
        <div class="title">
            <h6 class="teal-text font-kaushan">
                <img src="images/logo.png">
                <span>Stockler</span>
            </h6>
        </div>
        <div class="body">
            <div class="user">
                <img class="circle" src="images/mentor.jpg">
                <div class="username">
                    <strong>{{currentUser.name}} <i class="material-icons green-text online">fiber_manual_record</i><br><small>Administrateur</small></strong>

                </div>
            </div>
            <div class="separator">
                <small>Nav</small>
            </div>
            <ul class="links">
                <li class="dropdown">
                    <a href="javascript:void(0)"><i class="material-icons left">shopping_cart</i>Ventes <i class="material-icons right">keyboard_arrow_right</i></a>
                    <ul class="sub-menu">
                        <li><a class="subMenuLink" href="#!"><i class="material-icons left">add</i>Vendre</a></li>
                        <li><a class="subMenuLink" href="#!"><i class="material-icons left">pie_chart</i>Records Vendu</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)"><i class="material-icons left">chrome_reader_mode</i>Stock <i class="material-icons right">keyboard_arrow_right</i></a>
                    <ul class="sub-menu">
                        <li><a class="subMenuLink" href="#!items"><i class="material-icons left">add</i>Cree</a></li>
                        <li><a class="subMenuLink" href="#!items"><i class="material-icons left">pie_chart</i>Montre</a></li>
                    </ul>
                </li>
            </ul>
            <div class="separator">
                <small>Administrateur</small>
            </div>
            <ul class="links">
                <li class="dropdown">
                    <a href="javascript:void(0)"><i class="material-icons left">create</i>Raports <i class="material-icons right">keyboard_arrow_right</i></a>
                    <ul class="sub-menu">
                        <li><a class="subMenuLink" href="#!rep-dash"><i class="material-icons left">dashboard</i>Panneau</a></li>
                        <li><a class="subMenuLink" href="#!stock-reports/all"><i class="material-icons left">pie_chart</i>Rapports de stock</a></li>
                        <li><a class="subMenuLink" href=""><i class="material-icons left">person</i>Rapports d'utilisateurs</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)"><i class="material-icons left">people</i>Utilisateur <i class="material-icons right">keyboard_arrow_right</i></a>
                    <ul class="sub-menu">
                        <li><a class="subMenuLink" href="#!users"><i class="material-icons left">person_add</i>Cree</a></li>
                        <li><a class="subMenuLink" href=""><i class="material-icons left">people_outline</i>Montrer</a></li>
                        <li><a class="subMenuLink" href=""><i class="material-icons left">person</i>Utilisateur</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

   <!--route view -->
    <section id="view" ng-view></section>
    
    <script src="js/materialize.js"></script>
    <script src="js/chart.js"></script>
    <script src="js/loading-bar.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/controller.js"></script>
    <!--Sub conrollers-->
    <script src="js/controllers/dash.js"></script>
    <script src="js/controllers/items.js"></script>
    <script src="js/controllers/users.js"></script>
    <script src="js/controllers/reports.js"></script>
    <script src="js/controllers/reports-dashboard.js"></script>
    <script src="js/controllers/item-reports.js"></script>
    <script src="js/controllers/today-records.js"></script>
</body>
</html>