//Designing custom app components
title-bar{
  display: block;
  position: fixed;
  z-index: 9999999999;
  height: 30px;
  top: 0;
  left: 0;
  padding: 0 0 0 15px;
  right: 0;
  background-color: #eeeeee;
  ul{
    li{
      display: inline-block;
      cursor: pointer;
    }
    &#app_ctrs{
      position: absolute;
      right: 5px;
      display: inline-block;
      margin: 0;
      li{
        width: 20px;height: 20px;
        border-radius: 50%;
        line-height:20px;
        text-align: center;
        cursor: pointer;
        i{
          font-size: 13px !important;
        }
        &:first-of-type{
          $f-color:#f9a825;
          background-color:$f-color;
          &:hover{
            background-color: darken($f-color,10%);
          }
        }
        &:nth-of-type(2){
          $f-color:#2e7d32;
          background-color:$f-color;
          &:hover{
            background-color: darken($f-color,10%);
          }
        }
        &:last-of-type{
          $f-color:red;
          background-color:$f-color;
          &:hover{
            background-color: darken($f-color,10%);
          }
        }
      }
    }
  }
}
//first things first scrollbar
/* width */
::-webkit-scrollbar {
    width:8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


@import "components/fonts";
@import "components/fonts";
//varuabkes
$theme-dark-color: #000;
$theme-primary-color:#ffc107;
$theme-secondary-color:#ff8f00;
//rewriting styles
input:focus{
    box-shadow: 0px 0px 0px transparent!important;
}

//classes
// Z-levels
.z-depth-0 {
    box-shadow: none !important;
  }
  
  /* 2dp elevation modified*/
  .z-depth-1 {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
                0 3px 1px -2px rgba(0,0,0,0.12),
                0 1px 5px 0 rgba(0,0,0,0.2);
  }
  .z-depth-1-half {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  }
  
  /* 6dp elevation modified*/
  .z-depth-2 {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),
                0 1px 10px 0 rgba(0,0,0,0.12),
                0 2px 4px -1px rgba(0,0,0,0.3);
  }
  
  /* 12dp elevation modified*/
  .z-depth-3 {
    box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),
                0 3px 14px 2px rgba(0,0,0,0.12),
                0 5px 5px -3px rgba(0, 0, 0, 0.2);
  }
  
  /* 16dp elevation */
  .z-depth-4 {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14),
                0 6px 30px 5px rgba(0,0,0,0.12),
                0 8px 10px -7px rgba(0,0,0,0.2);
  }
  
  /* 24dp elevation */
  .z-depth-5 {
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14),
                0 9px 46px 8px rgba(0,0,0,0.12),
                0 11px 15px -7px rgba(0,0,0,0.2);
  }

.color-theme-dark{
    color: $theme-dark-color!important;
}
.bg-theme{
    background: $theme-dark-color !important;
    color: $theme-primary-color!important;
}
.bg-theme-rev{
    color: $theme-dark-color !important;
    background-color: $theme-primary-color!important;
}
.border{
    border: 1px solid #ddd;
}
.no-left-pad{
    padding-left:0!important;
}.no-right-pad{
    padding-right:0!important;
}.no-top-pad{
    padding-top:0!important;
}.no-bottom-pad{
    padding-bottom:0!important;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -o-transform:translate(-50%,-50%);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
}
.accounts-panel{
    position:fixed;
    top: 0;bottom: 0;
    right: 0;left: 0;
    z-index: 999;
    background-image: url('../images/splash.png');
    background-repeat: no-repeat;
    background-size: cover;
    div.cover{
        position: absolute;
        top: 0;bottom: 0;
        right: 0;left: 0;
        background: rgba(0,0,0,0.8);
    }
}
.border{
    border: 1px solid #ddd;
}
button.btn-block{
    display: block;
    width: 100%;
}
button.btn-outline{
    border:1px solid #ddd;
}
.dark-wrapper{
    position: absolute;
    top: 0;right: 0;left: 0;bottom: 0;
    background:rgba(0,0,0,0.3);
}
//for notification toast
#toast-container{
    top: 80% !important;
}
.toast{
    &.danger{
        background-color: #b71c1c;
    }
    &.success{
        background-color: #1b5e20!important;
    }
}
//table divs
div.table-div{
    height: 40vh;
    margin-bottom:10px;
    overflow-y: scroll;
    position: relative;
    border: 1px solid #ddd;

}
table{
    th.small,td.small{
        width:6%;
    }
    tr{
        &.selected{
            background-color:#a5d6a7;
            &:hover{
                background-color:#a5d6a7!important;
            }
        }
    }
    .action{
        cursor: pointer;
    }
    select{
        width:80%!important;
    }
    input{
        background-color: transparent;
        border:none!important;
        height:30px!important;
        margin: 0!important;
        &:focus{
            background:#eeeeee;
            box-shadow:0px 0px transparent!important;
            border: none!important;
        }
    }
}
input[type=search].search-input{
    border:1px solid #ddd;
    padding:5px;
    background-image: url("../images/icons/Search_25px.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    padding-left: 25px;
}
//heading
.legend{
    color:#ffeb3b;
}